.item {
    width: 19%;

    .product {
        width: 100%;
        overflow: hidden;
        height: 300px;
    
        .product-img {
            width: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            height: 300px;
        }
    
        & :hover {
            transform: scale(1.2);
            transition: transform 3s ;
        }
    
    }
    
    .product-desc {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
        padding: 10px 0 10px 0;
    }

    .add-item {
       width: 100%;
    }
}